/* Flash Messages */
.flash-messages {
    padding: 0;
    margin: 1rem 0;
    list-style: none;
}
.flash {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash.error { /* カテゴリに応じてスタイルを変更したい場合 */
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
